<div class="container">
    <div class="row">        		
			<div class="col-md-6">
                         
				<div id="tab" class="btn-group" data-toggle="buttons-radio">
				
                        <a class="btn btn-large btn-success active"
                           routerLink='off-price'>
                            OffPrice
                        </a>
                   
                        <a class="btn btn-large btn-success"
                           routerLink='full-price'>
                            FullPrice
                        </a>
                    
                        <a class="btn btn-large btn-success"
                           routerLink='supply-chain'>
                            Supply Chain
                        </a>
                    
                        <a class="btn btn-large btn-success"
                           routerLink='sales'>
                            Sales
                        </a>
                                
            </div>
                
            
        </div>

    </div>

<router-outlet></router-outlet>
</div>
