<div class="container">
    <div class="row">        		
			<div class="col-md-6">
                         
				<div id="tab" class="btn-group" data-toggle="buttons-radio">
				
                        <a class="btn btn-large btn-success active"
                           routerLink='off-price'>
                            OffPrice
                        </a>
                   
                        <a class="btn btn-large btn-success"
                           routerLink='full-price'>
                            FullPrice
                        </a>
                    
                        <a class="btn btn-large btn-success"
                           routerLink='supply-chain'>
                            Supply Chain
                        </a>
                    
                        <a class="btn btn-large btn-success"
                           routerLink='sales'>
                            Sales
                        </a>
                                
            </div>
                
            
        </div>
		<div class="col-md-6"> <div class="pull-right">
                <form class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <input #box class="form-control" placeholder="yyyy-mm-dd"
                                   name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker"
                                   (ngModelChange)="update($event)">
                            <button class="input-group-addon" (click)="d.toggle()" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <hr/>
                <p style="margin-top: 5px">{{box.value}}</p>
            </div></div>
    </div>

<router-outlet></router-outlet>
</div>
