<div class="container">
    <div class="row">        		
			<div class="col-md-6">
                         
				<div id="tab" class="btn-group" data-toggle="buttons-radio">
				
                        <a class="btn btn-large btn-success"
                           routerLink='off-price' [ngClass]="{'active':routeUrl=='/report-availability/off-price'}">
                            OffPrice
                        </a>
                   
                        <a class="btn btn-large btn-success"
                           routerLink='full-price' [ngClass]="{'active':routeUrl=='/report-availability/full-price'}">
                            FullPrice
                        </a>
                    
                        <a class="btn btn-large btn-success"
                           routerLink='supply-chain' [ngClass]="{'active':routeUrl=='/report-availability/supply-chain'}">
                            Supply Chain
                        </a>
                    
                        <a class="btn btn-large btn-success"
                           routerLink='sales' [ngClass]="{'active':routeUrl=='/report-availability/sales'}">
                            Sales
                        </a>
                                
            </div>
                
            
        </div>
    </div>

<router-outlet></router-outlet>
</div>
