
.center-block {
  display: block;
  margin-left: auto;
  margin-right: 20%;

}
.center {
  display: block;
  margin-left: auto;
  margin-right: 20%;
  width: 90%;



}
.center1 {
  display: block;
  margin-left: -3%;
  margin-right: 30rem;
  width: 90%;



}
.center2 {
  margin-left: auto;
  margin-right: 20%;



}
.center3{
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}
.datediv{
  padding-left: 99rem;

}
._ttable{
  width: 112rem;
}
.tableHeaderRow{
  background-color: #FAF2F2;
}
.tableHeader1{
  width: 155rem;
}

.tableHeader2{
  width: 17rem;
}

.tableHeader3{

}

.tableHeader4{
  width: 15rem;
}

.tableHeader5{
  width: 12rem;
}

.tableHeader6{
  width: 12rem;
}

.jobRow{

  margin-left: 13rem;
}
.slacompliance{
  width:100rem;

}
.slaheader{
  font-size: 25px;
  padding-left: 15px;
}
.rcorners1 {
  border-radius: 10px;
  background-color:#FFFFFF;
  width: 174px;
  height: 50px;
  text-align: center;
}
.rcorners1-1 {
  border-radius: 10px;
  background-color:#F8F8F8;
  width: 180px;
  height: 12px;
  text-align: center;
  padding-bottom: 10px;
  margin-left: -150px;

}
.rcorners1-2 {
  border-radius: 10px;
  background-color:#DAD8D8;
  width: 174px;
  height: 1px;
  text-align: center;
  padding-bottom: 10px;

}

.itab{
  background-color: #FFFFFF;
  position: center;
  float: center;
  height: 60px;
  padding-top: 12px;
}
.itabcontent{
  position: center;
  padding-left: 100px;
}
.nav-nord{
  margin-left: -20px;
  float: left;

}
.card {
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(172, 73, 73, 0.2), 0 6px 20px 0 rgba(216, 34, 34, 0.19);
  text-align: center;
  box-shadow: 10px 10px 5px #838282;
}

.space {

  padding-top: 2px;
  align-self: left;
  padding-right: 190px;
}
.space-1 {

  padding-top: 20px;
  margin-right: -10px;
}
.outdiv{
  margin-top: -1px;
  margin-bottom: -15px;
  align-content: center;
}
.outdiv-1{
  margin-top: -1px;
  margin-bottom: -15px;
  align-content: center;
  margin-left: 0px;
  margin-right: 0px;

}
.outdiv2{

  align-self: center;
  margin-left: -35px;
  margin-right: -60px;
  margin-top: -25px;
  margin-bottom: -40px;


}
.outdiv2-1{

  align-self: center;
  margin-left: -35px;
  margin-right: 100px;
  margin-top: -25px;
  margin-bottom: -40px;


}
.innerdiv{

  background-color:#FFFFFF;
  align-self: center;

}
.innerdiv-1{

  background-color:#FFFFFF;
  align-self: center;
  padding-left: 50px;
  margin-left: 100px;

}
.innerdiv2{
  align-self: center;

}
.innerdiv2-1{
  align-self: center;

}
.mdiv{
  align-content: right;
  align-items: center;
  position: center;
  background-color: #FFFFFF;


}
.jdiv{


}

.temp{
  font-size: 10px;
}


.rspace {

  background-color: #FFFFFF;
  padding-left: 10px;
  padding-right: 30px;
  margin-top: -10px;
  height: 80px;
  width: 320px;

}
.rspace-1 {

  background-color: #FFFFFF;
  padding-left: 10px;
  padding-right: 30px;
  margin-top: -10px;
  height: 80px;
  width: 320px;

}
.rspace2 {
  top: 10px;
  background-color: #FFFFFF;


}
.rspace2-1 {
  top: 10px;
  background-color: #FFFFFF;


}
.rspace3 {
  bottom: 10px;
  padding-left: -100px;
  background-color: #FFFFFF;

}
.rspace4 {
  left: 200px;
  background-color: #FFFFFF;

}
.sicon{
  left: 90px;
}
.greeniconcolor{
  color: green;
}
.rediconcolor{
  color: red;
}
.yellowiconcolor{
  color:#E4D446;
}
.popOverDisplay{
  font-size: 10px;
  width:20px;
}
.rdiv{
  background-color: rbga(51,51,51,0.6);
  width: 200px;
  height: 10px;

}
.bdiv{

  font-weight: 100;
  font-size: 13px;
  align-self: center;
  color: #3A3A3A;
  background-color: #F0F0F0;
}
.bdiv-1{
  font-size: 15px;
  color: #272525;
  background-color: #F8F8F8;
}
.ngbPopover{
  font-size: 20px;
  background-color: #FFFFFF;
}
.ilogo{
  color:  #965050;
  padding-left: 71px;
  margin-bottom: 0px;
  float:right;

}

body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #504F4F;
}
h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
}
h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}
.jumbotron {
  background-color: #FFFFFF;
  color: #3E3E3E;
  height: 190px;
  width: 1500px;
  align-content: center;

}
.jumbotron-1 {
  background-color: #FFFFFF;
  color: #3E3E3E;
  height: 190px;
  width: 1500px;
  align-content: center;
}
.jumbotron-2 {
  background-color: #FFFEFE;
  color: #3E3E3E;
  height: 900px;
  width: 1000px;
  align-content: center;

}
.tdiv{
  background-color: #FFFFFF;
}
.cdiv {
  margin-top: 10px;
  margin-bottom: 10px;
}
.ttable{
  margin-left: -145px;
  font-size: 15px;


}
.tthead{
  background-color: #E9E9E9;
  margin-left: -20px;

}
.tthead1{
  width: 125px;
}
.tthead2{
  width: 90px;
}
.tthead3{
  width: 80px;
}

.tthead4{

}

/* .tthead5{
    width: 60px;
} */
.tbody{
  margin-left: -10px;
}
.iform{
  align-self: right;
  margin-left: 940px;
}
.isuccess{
  background-color: #9CED9C;

}
.idanger{
  background-color: #FFAAAA;

}
.ipending{
  background-color: grey;


}

.panel {

  border-radius:0 !important;
  transition: box-shadow 0.5s;
}
.panel:hover {
  box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel-heading {
  color: #fff !important;
  background-color: #595757 !important;
  padding: 25px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.navbar {
  margin-bottom: 0;
  background-color: #D2D2D2;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;

}



.slideanim {visibility:hidden;}
.slide {
  background-color: #FFFFFF;
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;

}


