<header>
<div class="container">
<div class="row">
<div class="col-md-12">
<nav class="navbar navbar-toggleable-md">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>  
      
    <a class="navbar-brand mr-auto" routerLink="/"><img src="assets/images/nordstrom-sm.png"></a>    
   <div class="collapse navbar-collapse navbar-right  my-2 my-lg-0" id="navbarSupportedContent">
    <!-- Show this for logged out users -->
    <ul *showAuthed="false"
      class="navbar-nav login-menu">

       <li class="nav-item active">
        <a class=""
          routerLink="/">
          <i class="fa fa-home" aria-hidden="true"></i> Home
        </a>
      </li>

      <li class="nav-item">
        <a class="btn-sm btn-primary"
          routerLink="/login"
          routerLinkActive="active">
          <i class="fa fa-sign-in" aria-hidden="true"></i> Sign in
        </a>
      </li>
    </ul>
	
    <!-- Show this for logged in users -->
    <ul *showAuthed="true"
      class="nav navbar-nav main-nav pull-xs-right">

      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa fa-home" aria-hidden="true"></i> Home
        </a>
      </li>
        <!--<li class="nav-item" *ngFor="let route of currentUser.dashboards">
            <a class="nav-link"
               routerLink="/"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{ exact: true }">
                {{route}}
            </a>
        </li>-->

      <li>
        <a routerLink="/certified-report"
           routerLinkActive="active">
          <i class="fa fa-certificate" aria-hidden="true"></i> Certified Report
        </a>
      </li>
      <li>
        <a
           routerLink="/selfservice-report"
           routerLinkActive="active">
          <i class="fa fa-file-text" aria-hidden="true"></i> Self-Service Report
        </a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link"
           routerLink="/full-report"
           routerLinkActive="active">
          &nbsp;
        </a>
      </li>-->
      <li>
        <a
           routerLink="/report-availability"
           routerLinkActive="active">
          <i class="fa fa-check-circle-o" aria-hidden="true"></i> Report Availability
        </a>
      </li>
        <li>
            <a routerLink="/data-quality"
               routerLinkActive="active">
               <i class="fa fa-database" aria-hidden="true"></i> Data Quality
            </a>
        </li>
        <li>
            <a routerLink="/data-dictionary"
               routerLinkActive="active">
                <i class="fa fa-book" aria-hidden="true"></i> Data Dictionary
            </a>
        </li>
        <li>
            <a routerLink="/training"
               routerLinkActive="active">
                <i class="fa fa-industry" aria-hidden="true"></i> Training
            </a>
        </li>


      <li>
      <a class="btn-secondary btn-sm"
         routerLink="/logout"
        routerLinkActive="active">
        <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
      </a>
    </li>

      <!--<li class="nav-item">
        <a class="nav-link"
          [routerLink]="['/profile', currentUser.username]"
          routerLinkActive="active">
          <img [src]="currentUser.image" *ngIf="currentUser.image" class="user-pic" />
          {{ currentUser.username }}
        </a>
      </li>-->

    </ul>
</div>
</nav>
</div>
</div>
</div>
</header>
<div class="clearfix">&nbsp;</div>