/************** Custome CSS Define by sanjay ****************/
body{background:#F3F3F4; font-size: 15px; margin:0px}

header {
	background: #fff;
	float: left;
	width: 100%;
	margin-bottom: 20px;
	box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
}
footer {
    background:#fff;
    border-top: 1px solid #e7eaec;
    bottom: 0;
    left: 0;
    padding: 7px 20px;
    position: fixed;
    right: 0;
	z-index:100;
	width:100%;
}
footer p{margin-bottom: 5px;}
.home-page{float:left; width:100%;}
.navbar-toggleable-md .navbar-collapse.login-menu{float: right; width: auto}
.card.custome-panel{border-color:#1ab394}
.card.custome-panel > .card-header{background: #1ab394;}
.card.custome-panel h5{color:#fff;}
a:focus{text-decoration:none;}
a,.btn-link{color:#1ab394}

.btn{cursor:pointer;}
.btn-primary{background:#1ab394;border-color:#19a588;}
.btn-primary.disabled, .btn-primary:disabled{background:#1ab394; opacity:0.5;border-color:#19a588;}
.btn-primary.active,.btn-primary:hover, .btn-primary:active, .show>.btn-primary.dropdown-toggle{background:#0d9277; border-color:#0b866c}
.btn-secondary{background:#f3efef}
.btn-success{background:#1ab394;}
.btn-success.active,.btn-success:focus,.btn-success:active,.btn-success:hover{background:#0f987c; color:#fff;}
.login-menu li{margin-left:15px}
.middle-box{padding:0 30px;}
.navbar-toggleable-md .main-nav li{margin-left: 30px; line-height:40px }
.navbar-toggleable-md .main-nav li a{padding:8px 0px; color:#333; position:relative; transition:all 0.3s ease-in-out;}
.navbar-toggleable-md .main-nav li a:hover{color:#1ab394; text-decoration:none;}
.navbar-toggleable-md .main-nav li a:after{content:""; height:2px; width:0; bottom:-12px; background:#1ab394; position:absolute; left:0px; transition:all 0.3s ease-in-out;}
.navbar-toggleable-md .main-nav li a:hover:after,.navbar-toggleable-md .main-nav li a.active:after{width:100%}
.navbar-toggleable-md .main-nav li a.active{color:#1ab394;}
.navbar-toggleable-md .main-nav li a.btn-secondary{padding:7px 12px;}
.navbar-toggleable-md .main-nav li a.btn-secondary:after{display:none;}
.navbar.navbar-toggleable-md{padding:10px 0px;}
.navbar-toggleable-md .navbar-collapse{width: auto; }
app-report-availability{margin-bottom:50px; float:left; width:100%; min-height:100vh}
.table-report{margin-top:-50px}