/************** Custome CSS Define by sanjay ****************/
body{background:#F3F3F4; font-size: 15px; margin:0px}

header {
	background: #fff;
	float: left;
	width: 100%;
	margin-bottom: 20px;
	box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
}
footer {
    background:#fff;
    border-top: 1px solid #e7eaec;
    bottom: 0;
    left: 0;
    padding: 7px 20px;
    position: fixed;
    right: 0;
	z-index:100;
	width:100%;
}
footer p{margin-bottom: 5px;}
.home-page{float:left; width:100%;}
.navbar-toggleable-md .navbar-collapse.login-menu{float: right; width: auto}
.card.custome-panel{border-color:#1ab394}
.card.custome-panel > .card-header{background: #1ab394;}
.card.custome-panel h5{color:#fff;}
a:focus{text-decoration:none;}
a,.btn-link{color:#1ab394}

.btn{cursor:pointer;}
.btn-primary{background:#1ab394;border-color:#19a588;}
.btn-primary.disabled, .btn-primary:disabled{background:#1ab394; opacity:0.5;border-color:#19a588;}
.btn-primary.active,.btn-primary:hover, .btn-primary:active, .show>.btn-primary.dropdown-toggle{background:#0d9277; border-color:#0b866c}
.btn-secondary{background:#f3efef}
.btn-success{background:#1ab394;}
.btn-success.active,.btn-success:focus,.btn-success:active,.btn-success:hover{background:#0f987c; color:#fff;}
.login-menu li{margin-left:15px}
.middle-box{padding:0 30px;}
.navbar-toggleable-md .main-nav li{padding-right: 15px; padding-left:15px; line-height:40px; background:url(images/menu-sep.png) no-repeat right 10px}
.navbar-toggleable-md .main-nav li:last-child{padding-right:0px;}
.navbar-toggleable-md .main-nav li a{padding:8px 0px; color:#333; position:relative; transition:all 0.3s ease-in-out; }
.navbar-toggleable-md .main-nav li a:hover{color:#1ab394; text-decoration:none;}
.navbar-toggleable-md .main-nav li a:after{content:""; height:2px; width:0; bottom:-12px; background:#1ab394; position:absolute; left:0px; transition:all 0.3s ease-in-out;}
.navbar-toggleable-md .main-nav li a:hover:after,.navbar-toggleable-md .main-nav li a.active:after{width:100%}
.navbar-toggleable-md .main-nav li a.active{color:#1ab394;}
.navbar-toggleable-md .main-nav li a.btn-secondary{padding:7px 12px;}
.navbar-toggleable-md .main-nav li a.btn-secondary:after{display:none;}
.navbar.navbar-toggleable-md{padding:10px 0px;}
.navbar-toggleable-md .navbar-collapse{width: auto; }
/***app-report-availability{margin-bottom:50px; float:left; width:100%; min-height:100vh}***/
.table-report{margin-top:-50px}
.data-report{background:#fff;}
.table-bordered td, .table-bordered th{border-color: #E9E5E5}
.data-report td,.data-report th{text-align: center; vertical-align: middle}
.data-report td{padding:8px 10px}
.rcorners1-1{border-radius: 10px;
    background-color: #F8F8F8;
    width: 100%;    
	font-size:13px;
    text-align: left;
    padding:10px; 
	margin-bottom:5px;
	border-radius:0px;
	border-top:2px #e3e3e5 solid;
    }
	.tag-box{width:33%; float:left; padding: 0 5px}
	/**.padnone{padding:0px;}**/
.greeniconcolor{color:#008000}
.yellowiconcolor {color: #E4D446;}
.rediconcolor {
    color: red;
}
.idanger {
    background-color: #FFAAAA;
}
.isuccess {
    background-color: #9CED9C;
}

.data-report .popover.bs-popover-right .arrow {
    left: -12px;
	position: absolute;
    display: block;
    width: 0.8rem;
    height: 0.4rem;
	border-width: 11px;
}
.popover {
    width: 110px;
}
.popover-body {
    padding: 0.5rem 0.75rem;
    color: #212529;
}
.popover-header {
    padding: 0.5rem 0.75rem;
    margin-bottom: 0;
    font-size: 11px;
    color: inherit;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}
.popOverDisplay {
    font-size: 10px;
    width: 20px;
}

.popover .arrow {
	left: -12px;
    position: absolute;
    display: block;
    width: 0.8rem;
    height: 0.4rem;
	border-width: 11px;
}
.popover.bs-popover-right .arrow::before, .popover.bs-popover-auto[x-placement^="right"] .arrow::before {
    left: -0.8rem;
    border-right-color: rgba(0, 0, 0, 0.25);
}
.popover.bs-popover-right .arrow::before, .popover.bs-popover-auto[x-placement^="right"] .arrow::before {
    left: -0.8rem;
    border-right-color: rgba(0, 0, 0, 0.25);
}
.popover .arrow::before {
    content: "";
    border-width: 0.8rem;
	margin-left: 1px;
}
.popover .arrow::before, .popover .arrow::after {
    position: absolute;
    display: block;
    border-color: transparent;
    border-style: solid;
}
.popover.bs-popover-right .arrow::after, .popover.bs-popover-auto[x-placement^="right"] .arrow::after {
    left: calc((0.8rem - 1px) * -1);
    border-right-color: #fff;
}
.popover.bs-popover-right .arrow::before, .popover.bs-popover-auto[x-placement^="right"] .arrow::before, .popover.bs-popover-right .arrow::after, .popover.bs-popover-auto[x-placement^="right"] .arrow::after {
    margin-top: -0.8rem;
    border-left-width: 0;
}
.popover .arrow::after {
    content: "";
    border-width: 0.8rem;
	top:2px;
	margin-left: 3px;
}
.popover .arrow::before, .popover .arrow::after {
    position: absolute;
    display: block;
    border-color: transparent;
    border-style: solid;
}
.popover>.arrow:after {
    content: "";
    border-width: 10px;
	margin-top: -10px;
}
.popover>.arrow, .popover>.arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}